<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Sacramento&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">

  <div class="top">
    <!-- <img class="topimg" src="Images/diary1icon.png" alt="diary" width="60px" height="60px" > -->
    <h1 class="mainText">My  Diary  My  Experience</h1>
    <div class="topButton">
    <a href="/home"  class="btn">Home</a>
    <a href="/about" class="btn">About</a>
    <a href="/compose" id="compose" class="btn">Add Event</a>
    <a href="/contact" id="contact" class="btn">Contact</a>
    <a href="/logout"  class="btn">logout</a>
    </div>
  </div>


  <body>
    <div class="container">
