<%- include('partials/introheader') %>



  <div class="containerbox">
    <img src="/images/d1.jpg" alt="diary" class="img1">
    <h1 class="intro_name">MDME</h1>
    <p class="lead">Create your Personal Diary with MDME!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Signup</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>


<%- include('partials/introfooter') %>
