<%- include('partials/introheader') %>


<div class="containerbox">
  <img src="/images/d1.jpg" alt="diary" class="img1">
  <h1 class="intro_name">Sign Up</h1>
  <form action="/register" method="POST">
    <div class="form-group">
      <input type="Name" class="form-control" name="name" placeholder="Full Name" autocomplete="off" required>
    </div>
    <div class="form-group">
      <input type="email" class="form-control" name="username" placeholder="Email" autocomplete="off" required>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <a href="/" class="btn btn-dark">Back</a>
    <button type="submit" class="btn btn-dark">Signup</button>
  </form>

</div>








<%- include('partials/introheader') %>
